@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Edu+TAS+Beginner:wght@400..700&display=swap');



.header{
    font-family: "Edu TAS Beginner", serif;
    background-image: url("./img/wall.png");
    text-align: center;
    align-content: center;
    height: 100px;
}

.main{
    background-image: url("./img/cork.png");
}

.card{
    margin: 10px;
    transition: transform .3s ease-in-out;
}

.card>img{
    padding: 8px;
}

.card-title{
    font-family: "Edu TAS Beginner", serif;
    padding-left: 6px;
}

.card-text{
    font-family: "Sometype Mono", serif;
    padding-left: 6px;
}

.card:hover{
    cursor: pointer;
    transform: rotate(8deg) scale(1.1);
    transition: transform .3s ease-in-out;
}
